.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 20px;
  margin: 10px 20px;
  border: 1px solid black;
}
.form fieldset {
  display: flex;
  flex-direction: column;
}
.select {
  display: block;
  padding: 10px 0;
}
.textarea {
  display: block;
  width: 100%;
}
